.topnav,
.intentHeader,
.singleExample {
  display: inline-flex;
}
.popupLink {
  padding-right: 20px;
}
i {
  padding: 0 20px;
}
.singleExample {
  background-color: bisque;
}
.singleExample,
.inputNewExample {
  display: flex;
  width: 200px;
  justify-content: space-between;
}
.intentHeader {
  justify-content: space-between;
  width: 200px;
}
.inputBox {
  width: 60%;
}
input {
  width: 100%;
}
.iconDiv {
  width: 15%;
}
.intentPopup {
  width: 250px;
}
.addNewIntent {
  text-align: right;
}
.active {
  background-color: aquamarine;
}
